@import 'src/assets/scss/variables';

.swal2-popup.swal2-modal {
  padding: 30px auto;
}

label.swal2-input-label {
  display: flex;
  justify-content: flex-start;
  color: $gray-600;
  margin: 20px auto -15px 36px;
}

.swal2-container.swal2-backdrop-show {
  background: rgba(0, 0, 0, 0.72) !important;
  backdrop-filter: blur(7.5px);
}

h2.swal2-title {
  color: $gray-900;
  font-size: 24px;
  font-family: boFont;
}

.swal2-icon.swal2-error {
  position: relative;
  border: none;
  margin-top: 0;

  &::before {
    content: url(/assets/images/alert/error.png);
  }

  .swal2-x-mark {
    display: none;
  }
}

.swal2-icon.swal2-warning {
  position: relative;
  border: none;
  margin-top: 0;

  &::before {
    content: url(/assets/images/alert/warning.png);
  }

  .swal2-icon-content {
    display: none;
  }
}

.swal2-icon.swal2-question {
  position: relative;
  border: none;
  margin-top: 0;

  &::before {
    content: url(/assets/images/alert/question.png);
  }

  .swal2-icon-content {
    display: none;
  }
}

.swal2-icon.swal2-success {
  position: relative;
  border: none;
  margin-top: 12px;

  &::before {
    content: url(/assets/images/alert/success.png);
  }

  .swal2-success-circular-line-left, .swal2-success-circular-line-right, .swal2-success-ring, .swal2-success-fix, .swal2-success-line-long, .swal2-success-line-tip, .swal2-icon-show {
    display: none !important;
  }
}


.swal2-popup .swal2-html-container {
  font-family: rFont;
  font-size: 16px;
  color: $gray-600;
}

.swal2-actions .swal2-confirm.swal2-styled {
  color: #FFFFFF;
  background: $red-gradient;
  min-width: 120px;
  transform: scale(1);
  transition: .3s;

  &:hover {
    background-image: none !important;
    background: $red-gradient !important;
    transform: scale(1.1);
  }

  &:active {
    transform: scale(.9);
  }

  &:focus {
    box-shadow: none;
  }
}

.swal2-actions {
  gap: 8px;
}

.swal2-actions .swal2-cancel.swal2-styled {
  color: $gray-900;
  background: $white;
  border: 1px solid $gray-900;
  min-width: 120px;
  transform: scale(1);
  transition: .3s;

  &:hover {
    background-image: none !important;
    transform: scale(1.1);
  }

  &:active {
    transform: scale(.9);
  }

  &:focus {
    box-shadow: none;
  }
}

// /* Create a custom checkbox */
.alert-check {
  display: inline-block;
}

.swal2-input:focus,  .swal2-textarea:focus {
  border: 1px solid #dedede8e !important;
  outline: none;
  box-shadow: none;
}