@import 'src/assets/scss/variables';

.form-group {
  margin-bottom: 24px;

  label {
    @extend .paragraph3-bold;
    color: $gray-600;

    .number {
      display: inline-block;
    }

    button.info {
      background: none;
      border: none;
      font-size: 24px;
      cursor: pointer;

      i {
        vertical-align: middle;
        display: inline-flex;
        color: $primary-600;
      }
    }
  }

  .error-message {
    color: $error;
    display: none;
  }

  &.error {
    label {
      color: $error;
    }

    .form-input {
      input {
        border-color: $error;
        color: $error;
      }
    }

    .error-message {
      display: block;
    }
  }

  .form-input {
    .alert {
      margin-top: 4px;
    }

    input {
      position: relative;
      width: 100%;
      padding: 8px 12px;
      @extend .paragraph2-regular;
      color: $gray-600;
      border-radius: 4px;
      border: 1px solid $gray-300;

      @include mq("phone", max) {
        width: 100%;
      }

      &:disabled {
        border-color: #d7d7d7;
        color: #9c9c9c;
        background-color: $gray-200;
        cursor: default;
      }
    }

    textarea {
      position: relative;
      width: 100%;
      padding: 8px 12px;
      @extend .paragraph2-regular;
      color: $gray-600;
      border-radius: 4px;
      border: 1px solid $gray-300;

      @include mq("phone", max) {
        width: 100%;
      }

      &:disabled {
        border-color: #d7d7d7;
        color: #9c9c9c;
        cursor: default;
      }
    }

    // &.with-prefix {
    //   position: relative;

    //   .prefix {
    //     position: absolute;
    //     top: 8px;
    //     left: 36px;
    //     color: $gray-300;
    //     z-index: 1;

    //   }

    //   input {
    //     padding-left: 44px;
    //   }
    // }

    &.datepicker-input {
      input {
        background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTE5LjIgMjEuMUg1QzMuOSAyMS4xIDMgMjAuMiAzIDE5LjFWNy4wOTk5OEMzIDUuOTk5OTggMy45IDUuMDk5OTggNSA1LjA5OTk4SDE5LjJDMjAuMyA1LjA5OTk4IDIxLjIgNS45OTk5OCAyMS4yIDcuMDk5OThWMTkuMkMyMS4yIDIwLjIgMjAuMyAyMS4xIDE5LjIgMjEuMVpNNSA3LjA5OTk4VjE5LjJIMTkuMlY3LjA5OTk4SDVaIiBmaWxsPSIjMjMyMzIzIi8+CjxwYXRoIGQ9Ik0xNyAzSDE1VjUuMDk3NjZIMTdWM1oiIGZpbGw9IiMyMzIzMjMiLz4KPHBhdGggZD0iTTkgM0g3VjUuMDk3NjZIOVYzWiIgZmlsbD0iIzIzMjMyMyIvPgo8cGF0aCBkPSJNOSAxMEg3VjEySDlWMTBaIiBmaWxsPSIjMjMyMzIzIi8+CjxwYXRoIGQ9Ik0xMyAxMEgxMVYxMkgxM1YxMFoiIGZpbGw9IiMyMzIzMjMiLz4KPHBhdGggZD0iTTE3IDEwSDE1VjEySDE3VjEwWiIgZmlsbD0iIzIzMjMyMyIvPgo8cGF0aCBkPSJNOSAxNC4xSDdWMTYuMUg5VjE0LjFaIiBmaWxsPSIjMjMyMzIzIi8+CjxwYXRoIGQ9Ik0xMyAxNC4xSDExVjE2LjFIMTNWMTQuMVoiIGZpbGw9IiMyMzIzMjMiLz4KPHBhdGggZD0iTTE3IDE0SDE1VjE2SDE3VjE0WiIgZmlsbD0iIzIzMjMyMyIvPgo8L3N2Zz4K");
        background-repeat: no-repeat;
        background-position-x: calc(100% - 8px);
        background-position-y: 8px;

        &:disabled {
          border-color: #d7d7d7;
          color: #9c9c9c;
          cursor: default;
        }
      }
    }

  }

  .form-selectbox {
    select {
      position: relative;
      width: 100%;
      padding: 8px 12px;
      font-family: rFont;
      font-size: 16px;
      color: $gray-600;
      border-radius: 4px;
      -moz-appearance: none;
      /* Firefox */
      -webkit-appearance: none;
      /* Safari and Chrome */
      appearance: none;
      background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEyIDEzLjE3MkwxNi45NSA4LjIyMjA1TDE4LjM2NCA5LjYzNjA1TDEyIDE2TDUuNjM2IDkuNjM2MDVMNy4wNSA4LjIyMjA1TDEyIDEzLjE3MloiIGZpbGw9IiMyMzIzMjMiLz4KPC9zdmc+Cg==");
      background-repeat: no-repeat;
      background-position-x: calc(100% - 8px);
      background-position-y: 5px;

      @include mq("phone", max) {
        width: 100%;
      }

      &:disabled {
        background: #eeeeee;
        border-color: #d7d7d7;
        color: #9c9c9c;
        cursor: default;
      }
    }

    .select-box {
      width: 100%;
      position: relative;

      .ng-select {
        color: $gray-600;
        @extend .paragraph2-regular;

        .ng-arrow-wrapper .ng-arrow {
          border: none !important;
          background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEyIDEzLjE3MkwxNi45NSA4LjIyMjA1TDE4LjM2NCA5LjYzNjA1TDEyIDE2TDUuNjM2IDkuNjM2MDVMNy4wNSA4LjIyMjA1TDEyIDEzLjE3MloiIGZpbGw9IiMyMzIzMjMiLz4KPC9zdmc+Cg==");
          background-repeat: no-repeat;
          // background-position-x: calc(100% - 8px);
          // background-position-y: 5px;
          width: 24px;
          height: 24px;
        }

        &.ng-select-opened > .ng-select-container .ng-arrow {
          transform: rotateX(180deg);
        }

        .ng-arrow-wrapper {
          margin-right: 7px;
          padding-top: 4px;
        }

        .ng-select-container {
          border-color: $gray-300;
          height: 44px;
        }

        .ng-dropdown-panel {
          border-color: $gray-300;
        }
      }
    }
  }

  .ng-select.ng-select-single .ng-select-container {
    height: 44px;
  }

  .ng-select .ng-select-container {
    border-radius: 4px;
    border: 1px solid #9C9C9C;
  }

}

//Telephone no input
ngx-intl-tel-input {
  .iti.separate-dial-code {
    width: 100%;
  }
}


// Radio and Checkbox design start

.form-group {
  .vertical-checkbox-list {
    margin-top: 8px;

  }

  .horizontal-checkbox-list {
    width: 100%;
    display: inline-block;

    @include mq("phone", max) {
      margin-right: 8px;
    }

    label.checkbox-container {
      float: left;
      margin-right: 36px;

      @include mq("phone", max) {
        margin-right: 28px;
      }
    }
  }

  &.sp-title {
    position: relative;
    background-color: $gray-200;
    padding: 4px 12px;
    padding-bottom: 2px;
    padding-left: 28px;
    color: $gray-600;
    @extend .subheading-bold;

    &:before {
      content: "";
      position: absolute;
      top: 10px;
      left: 16px;
      width: 3px;
      height: 20px;
      background-color: $gray-600;
    }

    .info {
      height: 24px;
      line-height: 20px;
    }
  }

  // CheckBox styles
  /* The container */
  .checkbox-container {
    display: block;
    position: relative;
    padding-left: 28px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: rFont;
    font-size: 14px;
    color: $gray-600;
  }

  /* Hide the browser's default checkbox */
  .checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  /* Create a custom checkbox */
  .checkboxmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: $white;
    border-radius: 4px;
    border: 1px solid $primary-600;
  }

  /* On mouse-over, add a grey background color */
  .checkbox-container:hover input ~ .checkboxmark {
    background-color: $gray-200;
  }

  .checkbox-container input:disabled ~ .checkboxmark {
    background-color: $white;
    border-color: $gray-300 !important;
  }

  .checkbox-container input:disabled + span {
    color: $gray-300;
    cursor: default;
  }

  .checkbox-container input:disabled ~ span {
    color: $gray-300;
    cursor: default;
  }

  /* When the checkbox is checked, add a blue background */
  .checkbox-container input:checked ~ .checkboxmark {
    background-color: $primary-600;
  }

  .checkbox-container input:checked:disabled ~ .checkboxmark {
    background-color: #b4b4b4;
    cursor: default;
  }

  /* Create the checkboxmark/indicator (hidden when not checked) */
  .checkboxmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  /* Show the checkboxmark when checked */
  .checkbox-container input:checked ~ .checkboxmark:after {
    display: block;
  }

  /* Style the checkboxmark/indicator */
  .checkbox-container .checkboxmark:after {
    top: 3px;
    left: 7px;
    width: 5px;
    height: 10px;
    border: solid $white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  // Radio Button styles
  .vertical-radio-btn-list {
    margin-bottom: 24px;

    label.radio-container {
      margin-bottom: 16px;
    }
  }

  .horizontal-radio-btn-list {
    width: 100%;
    display: inline-block;

    label.radio-container {
      float: left;
      margin-right: 36px;
      margin-bottom: 0;

      @include mq("tablet-wide", max) {
        margin-right: 30px;
      }
      @include mq("phone", max) {
        margin-right: 26px;
      }
    }
  }

  /* The container */
  label.radio-container {
    display: block;
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    @extend .paragraph2-regular;
    color: $gray-600;
  }

  /* Hide the browser's default radio button */
  .radio-container input {
    position: absolute;
    bottom: 2px;
    opacity: 0;
    cursor: pointer;
  }

  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 3px;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: $white;
    border-radius: 50%;
    border: 1px solid $gray-600;
  }

  .radio-container input:disabled ~ .checkmark {
    background-color: $white;
    border: 1px solid $gray-300;
    cursor: default;
  }

  /* On mouse-over, add a grey background color */
  .radio-container:hover input ~ .checkmark {
    background-color: $gray-200;
  }

  .radio-container:hover input:disabled ~ .checkmark {
    background-color: $white;
    cursor: default;
  }

  /* When the radio button is checked, add a blue background */
  .radio-container input:checked ~ .checkmark {
    background-color: $white;
    border-width: 2px solid $primary-300;
  }

  .radio-container input:checked:disabled ~ .checkmark {
    border: 1px solid $gray-300;
    cursor: default;
  }

  .radio-container input:disabled ~ span {
    color: $gray-300;
    cursor: default;
  }

  .radio-container input:checked ~ span {
    @extend .paragraph2-bold;
  }

  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  /* Show the indicator (dot/circle) when checked */
  .radio-container input:checked ~ .checkmark:after {
    display: block;
  }

  .radio-container input:checked:disabled ~ .checkmark:after {
    background-color: #b6b6b6;
    cursor: default;
  }

  /* Style the indicator (dot/circle) */
  .radio-container .checkmark:after {
    top: 2px;
    left: 2px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: $red-gradient;
  }
}

