// Text Styles
.display1-regular {
  font-family: rFont;
  font-size: 64px;
}

.display1-bold {
  font-family: boFont;
  font-size: 64px;
}

.display1-extrabold {
  font-family: blFont;
  font-size: 64px;
}

.display2-regular {
  font-family: rFont;
  font-size: 48px;
}

.display2-bold {
  font-family: boFont;
  font-size: 48px;
}

.display2-extrabold {
  font-family: blFont;
  font-size: 48px;
}

.heading1-regular {
  font-family: rFont;
  font-size: 40px;
}

.heading1-bold {
  font-family: boFont;
  font-size: 40px;
}

.heading1-extrabold {
  font-family: blFont;
  font-size: 40px;
}

.heading2-regular {
  font-family: rFont;
  font-size: 36px;
}

.heading2-bold {
  font-family: boFont;
  font-size: 36px;
}

.heading2-extrabold {
  font-family: blFont;
  font-size: 36px;
}

.heading3-regular {
  font-family: rFont;
  font-size: 32px;
}

.heading3-bold {
  font-family: boFont;
  font-size: 32px;
}

.heading3-extrabold {
  font-family: blFont;
  font-size: 32px;
}

.heading4-regular {
  font-family: rFont;
  font-size: 28px;
}

.heading4-bold {
  font-family: boFont;
  font-size: 28px;
}

.heading4-extrabold {
  font-family: blFont;
  font-size: 28px;
}

.heading5-regular {
  font-family: rFont;
  font-size: 24px;
}

.heading5-bold {
  font-family: boFont;
  font-size: 24px;
}

.heading5-extrabold {
  font-family: blFont;
  font-size: 24px;
}

.subheading-light {
  font-family: lFont;
  font-size: 20px;
}

.subheading-regular {
  font-family: rFont;
  font-size: 20px;
}

.subheading-bold {
  font-family: boFont;
  font-size: 20px;
}

.paragraph1-light {
  font-family: lFont;
  font-size: 18px;
}

.paragraph1-regular {
  font-family: rFont;
  font-size: 18px;
}

.paragraph1-bold {
  font-family: boFont;
  font-size: 18px;
}

.paragraph2-light {
  font-family: lFont;
  font-size: 16px;
}

.paragraph2-regular {
  font-family: rFont;
  font-size: 16px;
}

.paragraph2-bold {
  font-family: boFont;
  font-size: 16px;
}

.paragraph3-light {
  font-family: lFont;
  font-size: 14px;
}

.paragraph3-regular {
  font-family: rFont;
  font-size: 14px;
}

.paragraph3-bold {
  font-family: boFont;
  font-size: 14px;
}

.caption-light {
  font-family: lFont;
  font-size: 13px;
}

.caption-regular {
  font-family: rFont;
  font-size: 13px;
}

.caption-bold {
  font-family: boFont;
  font-size: 13px;
}
