// color varibles

$primary-50: #ffeaec;
$primary-100: #FFDFDF;
$primary-200: #eba6ad;
$primary-300: #E18A92;
$primary-400: #c05f69;
$primary-500: #bd2736;
$primary-600: #C21324;
$primary-700: #b40b1c;
$primary-800: #97000F;
$primary-900: #330005;

$accent: #E8BA04;

$gray-50: #F9FAFC;
$gray-100: #F2F2F2;
$gray-200: #D9D9D9;
$gray-300: #9C9C9C;
$gray-400: #888888;
$gray-500: #919191;
$gray-600: #444444;
$gray-900: #252525;

$white: #FFFFFF;
$black: #000000;

$error: #CB3A31;
$success: #1AA774;
$warning: #CD7C2E;
$resubmit: #FFC046;

$red-gradient: linear-gradient(270deg, #C21324 0%, #97000F 100%);
$gray-gradient: radial-gradient(50% 5327.78% at 50% 50%, #FBFBFB 0%, #D9D9D9 100%);
$success-gradient: linear-gradient(270deg, #1AA774 -0.74%, #39D3AE 99.26%);
$error-gradient: linear-gradient(270deg, #F05858 0%, #C50101 100%);
$resubmit-gradient: linear-gradient(270deg, #FFC046 -0.74%, #EA9A00 99.26%);
$warning-gradient: linear-gradient(270deg, rgb(255, 153, 0) 0%, #FF5C00 100%);

// media query
$breakpoints: (
  "phone": 400px,
  "phone-wide": 480px,
  "phablet": 560px,
  "tablet-small": 640px,
  "tablet": 768px,
  "tablet-wide": 1024px,
  "desktop": 1148px,
  "desktop-wide": 1440px,
);

/*
Sample query

@include mq("desktop", max) {
  
}

*/

@mixin mq($width, $type: min) {
  @if map_has_key($breakpoints, $width) {
    $width: map_get($breakpoints, $width);
    @if $type == max {
      $width: $width - 1px;
    }
    @media only screen and (#{$type}-width: $width) {
      @content;
    }
  }
}
